<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calendar</title>
    <link rel="stylesheet" th:href="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.css}"
          href="/webjars/semantic-ui/2.2.6/dist/semantic.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.css}"
          href="/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.css"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"
            src="/webjars/jquery/3.1.1/dist/jquery.min.js"></script>
    <script th:src="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.js}"
            src="/webjars/semantic-ui/2.2.6/dist/semantic.min.js"></script>
    <script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"
            src="/webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/webjars/moment/2.17.1/min/moment.min.js}"
            src="/webjars/moment/2.17.1/min/moment.min.js"></script>
    <script th:src="@{/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.js}"
            src="/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.js"></script>
</head>
<body>
<header th:include="fragments :: header">
</header>
<div id="calendar"></div>
</body>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: 'title',
                right: 'today,prev,next'
            },
            height: 600,
        });
    });
</script>
</html>