<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calendar</title>
    <link rel="stylesheet" th:href="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.css}"
          href="/webjars/semantic-ui/2.2.6/dist/semantic.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.css}"
          href="/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/air-datepicker/2.2.0/dist/css/datepicker.min.css}"
          href="/webjars/air-datepicker/2.2.0/dist/css/datepicker.min.css"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"
            src="/webjars/jquery/3.1.1/dist/jquery.min.js"></script>
    <script th:src="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.js}"
            src="/webjars/semantic-ui/2.2.6/dist/semantic.min.js"></script>
    <script th:src="@{/webjars/moment/2.17.1/min/moment.min.js}"
            src="/webjars/moment/2.17.1/min/moment.min.js"></script>
    <script th:src="@{/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.js}"
            src="/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.js"></script>
    <script th:src="@{/webjars/air-datepicker/2.2.0/dist/js/datepicker.min.js}"
            src="/webjars/air-datepicker/2.2.0/dist/js/datepicker.min.js"></script>
</head>
<body>
<header th:include="fragments :: header">
</header>
<div class="ui divider"></div>
<div class="ui small modal">
    <div class="content">
        <div class="ui grid">
            <input id="eventId" hidden="hidden"/>
            <div class="thirteen wide column">
                <div class="ui input">
                    <input type="number" id="sum" placeholder="Сумма"/>
                </div>
                <button id="pay" class="ui positive basic button" onclick="eventPay()">Заплатить</button>
            </div>
            <div class="one wide column">
                <button class="ui button red" onclick="deleteEvent()">Удалить</button>
            </div>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="ui twelve wide column">
        <div id="calendar"></div>
    </div>
    <div class="ui four wide column">
        <form class="ui form">
            <div class="field">
                <label for="clients">Клиент:</label>
                <select id="clients">
                </select>
            </div>
            <div class="field">
                <label for="title">Примечание</label>
                <input type="text" id="title"/>
            </div>
            <div class="field">
                <label for="start">Начало</label>
                <input type='text' id="start"/>
            </div>
            <div class="field">
                <label for="end">Конец</label>
                <input type='text' id="end"/>
            </div>
            <button id="eventSave" class="ui button primary" onclick="saveEvent()">Записать</button>
        </form>
    </div>
</div>
</body>
<script src="../static/js/calendarUtils.js"
        th:src="@{js/calendarUtils.js}"></script>
<script src="../static/js/calendarConfig.js"
        th:src="@{js/calendarConfig.js}"></script>
</html>