<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Client</title>
    <link rel="stylesheet" th:href="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.css}"
          href="/webjars/semantic-ui/2.2.6/dist/semantic.min.css"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"
            src="/webjars/jquery/3.1.1/dist/jquery.min.js"></script>
    <script th:src="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.js}"
            src="/webjars/semantic-ui/2.2.6/dist/semantic.min.js"></script>
    <script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"
            src="/webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body>
<header th:include="fragments :: header">
</header>
<div class="ui grid">
    <div class="column row">
        <div class="eight wide column">
            <table id="dataTable" class="ui single line celled table">
                <thead class="">
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Phone</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    var datatableApi;
    var url = "/client/";

    $(document).ready(function () {
        datatableApi = $("#dataTable").DataTable({
            "paging": false,
            "info": false,
            "ajax": {
                "url": url + 'all',
                "dataSrc": ""
            },
            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "phone"}
            ]
        });
    });
</script>
</html>