<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employee</title>
    <link rel="stylesheet" th:href="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.css}"
          href="/webjars/semantic-ui/2.2.6/dist/semantic.min.css"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"
            src="/webjars/jquery/3.1.1/dist/jquery.min.js"></script>
    <script th:src="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.js}"
            src="/webjars/semantic-ui/2.2.6/dist/semantic.min.js"></script>
    <script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"
            src="/webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body>
<header th:include="fragments :: header">
</header>
<div class="ui modal">
    <form id="form" class="ui form">
        <input type="number" id="id" name="id" hidden="hidden"/>

        <div class="description">
            <div class="field">
                <label>Имя</label>
                <input type="text" name="name" placeholder="Имя"/>
            </div>
            <div class="field">
                <label>Телефон</label>
                <input type="text" name="phone" placeholder="Телефон"/>
            </div>
            <div class="field">
                <label>Зарплата</label>
                <input type="text" name="salary" placeholder="Процент от суммы"/>
            </div>
        </div>

        <div class="actions">
            <div class="ui black deny button">Отмена</div>
            <div class="ui positive button" onclick="save()">Сохранить</div>
        </div>
    </form>
</div>
<button id="add" class="ui button">Добавить</button>
<div class="ui grid">
    <div class="column row">
        <div class="eight wide column">
            <table id="dataTable" class="ui single line celled table">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Phone</td>
                    <td>Salary</td>
                    <td></td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
<script src="dataTablesUtil.js"
        th:src="@{dataTablesUtil.js}">
</script>
<script>
    url = "/employee/";

    $(document).ready(function () {
        datatableApi = $("#dataTable").DataTable({
            "paging": false,
            "info": false,
            "ajax": {
                "url": url + 'all',
                "dataSrc": ""
            },
            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "phone"},
                {"data": "salary"},
                {
                    "defaultContent": "",
                    "sortable": false,
                    "render": renderBtn
                }
            ],
            "initComplete": function () {
                makeEditable();
            }
        });
    });
</script>
</html>