<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Работники</title>
    <link rel="stylesheet" th:href="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.css}"
          href="/webjars/semantic-ui/2.2.6/dist/semantic.min.css"/>
</head>
<body>
<header th:include="fragments :: header">
</header>
<div class="ui divider"></div>
<div class="ui small modal">
    <div class="content">
        <div>
            <form id="form" class="ui form">
                <input type="number" id="id" name="id" hidden="hidden"/>
                <div class="content">
                    <div class="field">
                        <label>Имя</label>
                        <input type="text" name="name" placeholder="Имя"/>
                    </div>
                    <div class="field">
                        <label>Телефон</label>
                        <input type="text" name="phone" placeholder="Телефон"/>
                    </div>
                    <div class="field">
                        <label>Процент</label>
                        <input type="number" name="percent" placeholder="Процент от суммы"/>
                    </div>
                    <div class="field">
                        <label>Оклад</label>
                        <input type="number" name="salary" placeholder="Оклад"/>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="actions">
                    <div class="ui black deny button">Отмена</div>
                    <div class="ui positive button" onclick="save()">Сохранить</div>
                </div>
            </form>
        </div>
    </div>
</div>
<button id="add" class="ui button">Добавить</button>
<div class="ui grid">
    <div class="column">
        <table id="dataTable" class="ui single line celled table">
            <thead>
            <tr>
                <td>Id</td>
                <td>Имя</td>
                <td>Телефон</td>
                <td>Процент</td>
                <td>Оклад</td>
                <td></td>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"
        src="/webjars/jquery/3.1.1/dist/jquery.min.js"></script>
<script th:src="@{/webjars/semantic-ui/2.2.6/dist/semantic.min.js}"
        src="/webjars/semantic-ui/2.2.6/dist/semantic.min.js"></script>
<script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"
        src="/webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../static/js/dataTablesUtil.js"
        th:src="@{js/dataTablesUtil.js}"></script>
<script src="../static/js/employeeDataTableConfig.js"
        th:src="@{js/employeeDataTableConfig.js}"></script>
</body>
</html>