<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Зарплата</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"/>
</head>
<body>
<header th:include="fragments :: header"></header>
<div class="container">
    <div class="ui breadcrumb"><a class="section" onclick="getSalaryForMonth(1,this)">Январь</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(2,this)">Февраль</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(3,this)">Март</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(4,this)">Апрель</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(5,this)">Май</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(6,this)">Июнь</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(7,this)">Июль</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(8,this)">Август</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(9,this)">Сентябрь</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(10,this)">Октябрь</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(11,this)">Ноябрь</a>
        <div class="divider"> /</div>
        <a class="section" onclick="getSalaryForMonth(12,this)">Декабрь</a></div>
</div>
<div class="ui center aligned segment"><span id="text"></span></div>
<div>
    <div class="ui container">
        <table id="dataTable" class="ui single line celled table">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Всего</th>
                <th>Зарплата</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="../static/js/dataTablesUtil.js" th:src="@{js/dataTablesUtil.js}"></script>
<script th:src="@{js/salary.js}" src="../static/js/salary.js"></script>
</body>
</html>