<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Календарь</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css"/>
</head>
<body>
<input type="text" id="userId" th:value="${userId}" th:hidden="hidden"/>
<header th:include="fragments :: header"></header>
<div class="ui small modal">
    <div class="content">
        <div class="ui grid">
            <div class="thirteen wide column">
                <div class="ui input"><input type="number" id="sum" placeholder="Сумма"/></div>
                <button id="pay" class="ui positive basic button" onclick="eventPay()">Заплатить</button>
            </div>
        </div>
    </div>
</div>

<div class="ui divider"></div>
<div class="ui grid">
    <div id="calendar"></div>
</div>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<script src="../static/js/calendarUtils.js" th:src="@{js/calendarUtils.js}"></script>
<script src="../static/js/calendarConfig.js" th:src="@{js/calendarConfig.js}"></script>
<script>
    $(document).ready(function () {
        calendar.fullCalendar('removeEvents');
        calendar.fullCalendar('addEventSource', '/event/all/' + $("#userId").val());
    });
</script>
</body>
</html>